# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
virtual/
venv/
env/
.venv/

# Django
db.sqlite3
*.log

# Environment variables / secrets
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/